body{
	background-color:gray;
	font-size:15px;
	color:#a9a9a9;
}
h1{
	background-color:lightgray;
	font-size:50px;
    color:orange;
}
#sky{
	color:blue;
}
#forest{
	color:green;
}
#abc{
	font-size:10px;
}
#big{
	font-size:50px;
}
.japan{
	color:gray;
}
.english{
	color:brown;
}
.omoji{
	font-size:20px;
}
.komoji{
	fontsize:10px;
}